# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Build
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Uploaded PDFs
data/uploads/*
!data/uploads/.gitkeep

# Screenshots
screenshots/*
!screenshots/.gitkeep